/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/12/2015, 11:35:35 AM
    Author     : frank
*/

#logo{
    /*width: 180px;*/
    position: relative;
    left: 260px;
}

#feature{
    position: relative;
    left: 250px;
}

.div-texto{
  vertical-align: top;
}

#posicionar-tabla{
    position: relative;
    left: 250px;
}

#mover-aside{
    position: relative;
    left: 280px;
}

#td-aside{
    vertical-align: top;
    width: 350px;
}

#mover-footer{
    position: relative;
    left: 280px;
}

.mover-td-footer{
    width: 360px;
}

section#contenido{
    width: 95%;
    display: inline-block;
    
}
aside table{
    width: 45%;
    display: inline-block;
    
}

#formulario_prueba .error label{
    color: red;
}

#formulario_prueba .error input{
    border-color: red;
}

#formulario_prueba .error label {
    float: right;
}

#formulario_prueba label .radios label .validation_erro{
    position: relative;
    right: 120%;
}


/*#formulario_prueba div label .validation_error{
    float: right;
}*/




